<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>
    <link rel="stylesheet" href="./components/componentFooter.css">
</head>
<body>
    <footer>
      <div class="footerLeft">
        <div class="footermenu">
          <h3 class="menutitle">About us</h3>
          <ul class="fMenuList">
            <li class="fMenuListItem"><a href="./pages/company/company.html">Company</a></li>
            <li class="fMenuListItem"><a href="./pages/contact/contact.html">Contact</a></li>
            <li class="fMenuListItem"><a href="./pages/careers/careers.html">Careers</a></li>
            <li class="fMenuListItem"><a href="./pages/affiliates/affiliates.html">Affiliates</a></li>
            <li class="fMenuListItem"><a href="./pages/locations/stores.html">Stores</a></li>
          </ul>
        </div>

        <div class="footermenu">
          <h3 class="menutitle">Useful links</h3>
          <ul class="fMenuList">
            <li class="fMenuListItem"><a href="./pages/support/support.html">Support</a></li>
            <li class="fMenuListItem"><a href="./pages/refund/refund.html">Refund</a></li>
            <li class="fMenuListItem"><a href="./pages/faq/faq.html">FAQ</a></li>
            <li class="fMenuListItem"><a href="./pages/privacy/privacy-policy.html">Privacy policy</a></li>
            <li class="fMenuListItem"><a href="./pages/terms/terms-of-use.html">Terms of use</a></li>
          </ul>
        </div>

         <div class="footermenu">
                <h3 class="menutitle">Products</h3>
                <ul class="fMenuList">
                   <li class="fMenuListItem"><a href="./pages/products/dresses.html"><span>Dresses</span></a></li>
                   <li class="fMenuListItem"><a href="./pages/products/jeans.html"><span>Jeans</span></a></li>
                   <li class="fMenuListItem"><a href="./pages/products/shoes.html"><span>Shoes</span></a></li>
                   <li class="fMenuListItem"><a href="./pages/products/jewellery.html"><span>Jewellery</span></a></li>
                   <li class="fMenuListItem"><a href="./pages/products/coats.html"><span>Coats</span></a></li>
                   <li class="fMenuListItem"><a href="./pages/products/bags.html"><span>Bags</span></a></li>
                </ul>
            </div>
      </div>

      <div class="footerRight">
        <h3 class="menutitle2">Newsletter:</h3>
        <p class="fp">Don't miss out! Subscribe to get newest and promotions.</p>
        <div class="newsletter">
            <input type="email" name="email" class="email" id="email" placeholder="your@email.com">
            <button class="fButton">Submit</button>
        </div>
        <div class="social">
            <h3 class="follow">Follow us!</h3>
            <div>
                <img src="./MultiMedia/facebook.png" class="fIcons" alt="facebook Icon">
                <img src="./MultiMedia/instagram.png" class="fIcons" alt="facebook Icon">
                <img src="./MultiMedia/youtube.png" class="fIcons" alt="facebook Icon">
                <img src="./MultiMedia/linkedin.png" class="fIcons linked" alt="facebook Icon">
            </div>
        </div><hr>
         <div class="allRights">
            <span class="rights">@Lyes Dev. All rights reserved. 2025</span>
         </div>
      </div>
    </footer>
</body>
</html>